Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 100
IndentCaseLabels: false
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
SpaceAfterCStyleCast: true
SortIncludes: false
IncludeBlocks: Preserve
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
