[submodule "firmware/external-library/freertos-kernel"]
	path = vendor/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "vendor/lvgl"]
	path = vendor/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.3
